body{
  font-family: Georgia,'Times New Roman',Serif;
  /*1 px = 1/125 of the inch*/
  /*font-size: 10px;     !*default size is 16px*!*/
  font-size: 1.5em;   /*1em =16px*/
}
h2 {
  font-size: 75%; /* 75 % of 16 px is 12 px*/
  font-size: 2em;
  /*em is relative already body la 24px nnu calculate anathula erunthu double aitu 48px ah kamikkum */
  /*hete 1 em = body la erukka 1.5 em*/
  /*parent oda size ah vechu pannum parent kku ellaina ancestor antha mari poitae erukkum*/

}

/*font weight ---> light,medium,bold,black*/
/*font style ---->normal,italic,oblique*/
/*font stretch ---->condensed,regular,extended*/

h3{
  font-weight: normal;
  font-style: italic;
  font-stretch: expanded;
  text-transform:  capitalize;  /*1 st word of each letter is caps*/
  text-decoration: overline;
  /*text-decoration-none is use in where defaulty th link is underlined if we want no underline then we put none there*/
  text-align: center;
  /*vertical-align: center;*/
  /*box kkula text enga varanum or image kku pakkathul text varuthuna then top la or middle la varanumannu pakka */
}
p{
  line-height: 1.5em;
  /*letter-spacing: 0.5em;*/
  /*word-spacing: 0.5em;*/
text-align: justify;
  /*text align will align the para at the end*/
  text-indent: 50px;
  /*1 st word evlo thoooram naganthu varanum*/
  text-shadow: 2px 2px 2px grey;
  /*1 st value left or right evlo thoram shadow varanum */
  /*2 nd value is vertival*/
  /*3 rd value is evlo blur venum*/

}
p:first-letter{
  /*we can also use p:first line*/
  font-size: 2em;
}
a:visited{
  color: brown;
}
a:hover{
  color: pink;
}

a:active{
  color:blue;
}
p.myclass{

/*myclass nnu class erukka para*/
}

p[class]{
  /*class nnu attribute erukka paragraphs or p[id] or anything*/
}
p[id='id1']{

}
p[class~="myclass"]{
  /*if the para have so many class name then if we want to use the property if the class have my class as a name */
}
p[class^=m]{
  /*select all para if the class startswith m*/
}
p[class$=p]{
  /*select all para if the class endswith p*/
}
