ul{
   /* list-style-type: circle;*/
   /* !*list-style-image: url("../icon.png");*!*/
   /*list-style-position: outside;*/


    /*both the above styles in one property in css*/

    list-style: inside circle;
}

ol{
    list-style-type: lower-alpha;
}

li{
    margin: 10px;
}

table{
    width: 300px;
    margin: auto; /* it will center based on parent */
    border-spacing: 10px;
    border-collapse: collapse;  /*normal table*/
    /*border spacing will be ognored when we collapse*/
}

th{
    text-transform: uppercase;
    border-bottom: 2px solid black;
    text-align: left;
    padding: 10px;
}
th,td{
    padding: 10px;
    border: 2px solid black;
}
.amt{
    text-align: right;
}
tr:nth-child(even){
    background-color: whitesmoke;
}