h1,h4{
  color : orange;


  /*serif is generic name */
}
h1{
  color: violet;
}
h4{
  color: black;
}

/* kadaisiya yenna solramo athatha atha eduthukkom here h1 is violet */

/* always inline css takes more priority */
*{   /* it is applied to all tags.But specific ah yethavathu kuduthuronna atha tha priority ah edukkm */
  color: blue;
}

/* still h1 is violet because specific ah erukkarathu than priority */
#dev,#learning{
  color: green;
}
.class1{
  color: orange;
}

/* child selector */

/* div oda child para */
div>p{
  color: black;
}

/* descendent selector  */
/* div ku keela a descendent */
div a{
  color: aquamarine;
}

/* sibling selector */
/* both have same parent.they are under the parent */


/*it is moew specific than above said so this color is taken for h4*/
h1~h4{
  color: aqua;
}


/* adjacent sibling selector  */
/* it is appluedonly if h1 and h4 are siblings and they are adjacent to each other */
h1+h3{
  color: green;
}

h4{
  color: black !important;
  /*there is no priority this rule is applied irrespectively*/
}

/*color explanation*/

/*we can rgb value to color */
/*the number range is 0 to 255*/

h3{
  color: rgb(255,255,255);/*white*/

}
h5{
  color: rgb(70, 97, 150);
}
h6{
  color: #888888;
  color: hsl(100,33%,44%);
}
/*100 % white 0% white*/

h4{
  background: rgb(255,0,0);
}
h4{
  background: rgba(255,0,0,0.5);  /* 4 th value is opacity*/
}

